@page "/PricesS5"
@inject HttpClient Http
@using cmArt.Reece.ShopifyConnector
@using cmArt.Portal.Data


<PageTitle>S5 Prices</PageTitle>

<h1>Price Data - System Five</h1>

@if (records == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>InvUnique</th>
                <th>Cat</th>
                <th>PartNumber</th>
                @for(int i = 0; i < 15; i++)
                {
                    <th style="text-align:right;">Price-@i</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var record in records)
            {
                <tr>
                    <td>@record.InvUnique.ToString()</td>
                    <td>@record.Cat</td>
                    <td>@record.PartNumber</td>
                    @for(int i = 0; i < 15; i++)
                    {
                        <td style="text-align:right;">
                            @if(record.Prices.Where(x => x.Level == i).FirstOrDefault() == null)
                            {
                            <div style="float: right;color:red;" align="right" title="Sched-@i missing">@(Decimal.Round((record.Prices.Where(x => x.Level == i).FirstOrDefault() ?? new S5PricePair()).Price, 2))</div>
                            }
                            else
                            {
                            <div style="float: right;" align="right" title="Sched-i">@(Decimal.Round((record.Prices.Where(x => x.Level == i).FirstOrDefault() ?? new S5PricePair()).Price, 2))</div>
                            }
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Shopify_Prices[]? records;

    protected override async Task OnInitializedAsync()
    {
        string strDocument = await Http.GetStringAsync("http://localhost:7071/api/JsonDocument/7fb824a1-6b6a-46eb-bb0c-e4a315ccb6ec");
        Document doc = (Document)System.Text.Json.JsonSerializer.Deserialize(strDocument, typeof(Document));
        records = (Shopify_Prices[])System.Text.Json.JsonSerializer.Deserialize(doc.DocumentValue, typeof(Shopify_Prices[]));
        //records = await Http.GetFromJsonAsync<Shopify_Prices[]>("sample-data/tblPocoPricesAdapted_page1.json");
    }
}
