@page "/ProductsS5"
@inject HttpClient Http
@using cmArt.Reece.ShopifyConnector
@using cmArt.Portal.Data


<PageTitle>S5 Products</PageTitle>

<h1>Product Data - System Five</h1>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>InvUnique</th>
                <th>Cat</th>
                <th>Description</th>
                <th>PartNumber</th>
                <th>WebCategory</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.InvUnique.ToString()</td>
                    <td>@product.Cat</td>
                    <td>@product.Description</td>
                    <td>@product.PartNumber</td>
                    <td>@product.WebCategory</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Shopify_Product[]? products;

    protected override async Task OnInitializedAsync()
    {
        string strDocument = await Http.GetStringAsync("http://localhost:7071/api/JsonDocument/74e5b8d9-f264-4029-af3a-f2c44c906511");
        Document doc = (Document)System.Text.Json.JsonSerializer.Deserialize(strDocument, typeof(Document));
        products = (Shopify_Product[])System.Text.Json.JsonSerializer.Deserialize(doc.DocumentValue, typeof(Shopify_Product[]));
        //products = await Http.GetFromJsonAsync<Shopify_Product[]>("sample-data/tblPocoProductsAdapted_page1.json");
    }
}
