@page "/QuantitiesS5"
@inject HttpClient Http
@using cmArt.Reece.ShopifyConnector
@using cmArt.Portal.Data


<PageTitle>S5 Quantities</PageTitle>

<h1>Quantity Data - System Five</h1>
<cmArt.Shopify.TestingUI.Components.QuantitiesStats data="records"></cmArt.Shopify.TestingUI.Components.QuantitiesStats>

@if (records == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>InvUnique</th>
                <th>Cat</th>
                <th>PartNumber</th>
                @for(short i = 0; i < 5; i++)
                {
                    <th style="text-align:right;">Qty(Dept-@i)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var record in records)
            {
                <tr>
                    <td>@record.InvUnique.ToString()</td>
                    <td>@record.Cat</td>
                    <td>@record.PartNumber</td>
                    @for(short i = 0; i < 5; i++)
                    {
                        <td style="text-align:right;">
                            @if(record.Quantities.Where(x => x.Location == i).FirstOrDefault() == null)
                            {
                            <div style="float: right;color:red;" align="right" title="Sched-@i missing">@(Decimal.Round((record.Quantities.Where(x => x.Location == i).FirstOrDefault() ?? new S5QtyPair(i,0)).Qty, 2))</div>
                            }
                            else
                            {
                            <div style="float: right;" align="right" title="Sched-i">@(Decimal.Round((record.Quantities.Where(x => x.Location == i).FirstOrDefault() ?? new S5QtyPair(i,0)).Qty, 2))</div>
                            }
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Shopify_Quantities[]? records;

    protected override async Task OnInitializedAsync()
    {
        string strDocument = await Http.GetStringAsync("http://localhost:7071/api/JsonDocument/c0aff18b-a32a-4b0b-bcc7-5808ddace171");
        Document doc = (Document)System.Text.Json.JsonSerializer.Deserialize(strDocument, typeof(Document));
        records = (Shopify_Quantities[])System.Text.Json.JsonSerializer.Deserialize(doc.DocumentValue, typeof(Shopify_Quantities[]));
        //records = await Http.GetFromJsonAsync<Shopify_Quantities[]>("sample-data/tblPocoQuantitiesAdapted_page1.json");
    }
}
