@page "/shopifypricerules"
@using cmArt.Reece.ShopifyConnector
@using cmArt.LibIntegrations.ApiCallerService
@using Newtonsoft.Json.Linq


<h3>ShopifyPriceRules</h3>
<button @onclick="LoadPricesList">Load Prices List</button>
Count: @records.Count()
<table>
    <tr>
        <td>record.title</td>
        <td>record.value</td>
        <td>record.id</td>
        <td>record.value_type</td>
    </tr>
    @foreach (var record in records)
    {
    <tr>
        <td>@record.title</td>
        <td>@record.value</td>
        <td>@record.id</td>
        <td>@record.value_type</td>
    </tr>
    }
</table>
@code {
    private IEnumerable<dynamic> _records;
    public IEnumerable<dynamic> records 
    { 
        get { return _records ?? new List<dynamic>(); } 
        set { _records = value ?? _records ?? new List<dynamic>(); }
    }
    public async void LoadPricesList()
    {
        ApiCallerBase api = new ApiCallerBase();
        ApiCallData data = new ApiCallData();
        ApiConnectorData connData = new ApiConnectorData();
        connData.Url = "https://deltawaterproducts.myshopify.com";
        connData.UserName = "ed84bfc1c2687d7d6f357717fe977dd6";
        connData.Password = "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";

        data.UrlCommand = "/admin/api/2022-01/price_rules.json";
        data.Body = string.Empty;

        //string ApiConnectorData_Json = System.Text.Json.JsonSerializer.Serialize(connData, typeof(ApiConnectorData));
        //string ApiCallData_Json = System.Text.Json.JsonSerializer.Serialize(data, typeof(ApiCallData));

        //string results = await ReeceShopifyAzFunc.MakeApiGetCallGeneric(ApiConnectorData_Json, ApiCallData_Json);

        //var tmp = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(results);
        dynamic tmp = await GetPageOfPriceRules(api, connData, data);
        records = tmp.price_rules;
        
        StateHasChanged();
    }
    private async Task<dynamic> GetPageOfPriceRules(ApiCallerBase api, ApiConnectorData connData, ApiCallData data)
    {
        //ApiCallerBase api = new ApiCallerBase();
        //ApiCallData data = new ApiCallData();
        //ApiConnectorData connData = new ApiConnectorData();

        //data.UrlCommand = "/admin/api/2022-01/price_rules.json";
        //data.Body = string.Empty;

        string ApiConnectorData_Json = System.Text.Json.JsonSerializer.Serialize(connData, typeof(ApiConnectorData));
        string ApiCallData_Json = System.Text.Json.JsonSerializer.Serialize(data, typeof(ApiCallData));

        string results = await ReeceShopifyAzFunc.MakeApiGetCallGeneric(ApiConnectorData_Json, ApiCallData_Json);

        dynamic tmp = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(results);
        return tmp;
    }
    public async void LoadPricesList2()
    {
        string results = await ReeceShopifyAzFunc.MakeApiGetCall
        (
            "/admin/api/2022-01/price_rules.json"
            , "https://deltawaterproducts.myshopify.com"
            , "ed84bfc1c2687d7d6f357717fe977dd6"
            , "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"
        );

    }
}
