@page "/shopifypricerules"
@using System.Text.Json
@using cmArt.Portal.Data
@using cmArt.Portal.Data.GenericSerialization
@using cmArt.Reece.ShopifyConnector
@using cmArt.LibIntegrations.ApiCallerService
@using Newtonsoft.Json.Linq
@using cmArt.LibIntegrations.ClientControllerService
@using cmArt.Portal.Data.ShopifyData

@inject ClientController_Guid<Document_PK,Document> DocumentController
@inject GenericSerialization_BlazorClient<shopify_price_rule> shopifyPriceRuleToFile

<h3>ShopifyPriceRules</h3>
<button @onclick="LoadPricesList">Load Prices List From Shopify</button>
<button @onclick="LoadPricesListCache">Load Prices List From Cache</button>
<button @onclick="SavePricesToFile">Save Prices To File</button>
Record Count: @records.Count()
<br />
Page Count: @PageCount
<br />
@json_results
<table>
    <tr>
        <td>record.title</td>
        <td>record.value</td>
        <td>record.id</td>
        <td>record.value_type</td>
    </tr>
    @foreach (var record in records)
    {
    <tr>
        <td>@record.title</td>
        <td>@record.value</td>
        <td>@record.id</td>
        <td>@record.value_type</td>
    </tr>
    }
</table>
<h3>Url Commands Used</h3>
@foreach(var url in UrlCommands)
{
    @url <br />
}
@code {
    private int DevCountExit;
    private List<dynamic> _records;
    private List<string> _UrlCommands;
    private string _json_results;
    public string json_results
    {
        get { return _json_results ?? string.Empty; }
        set { _json_results = value ?? string.Empty; }
    }
    public IEnumerable<dynamic> records 
    { 
        get { return _records ?? new List<dynamic>(); } 
        set { _records = value.ToList() ?? _records ?? new List<dynamic>(); }
    }
    private int PageCount { get; set; }
    public List<string> UrlCommands 
    { 
        get
        {
            return _UrlCommands ?? new List<string>();
        }
        set
        {
            _UrlCommands = value ?? _UrlCommands ?? new List<string>();
        }
    }
    public async void SavePricesToFile()
    {
        Console.WriteLine("records count: " + records.Count());
        string records_Json = Newtonsoft.Json.JsonConvert.SerializeObject(records);
        json_results = records_Json;

        ApiConnectorData conn = new ApiConnectorData();
        conn.Url = "http://localhost:7071";
        conn.UserName = string.Empty;
        conn.Password = string.Empty;

        shopifyPriceRuleToFile.init(conn);
        GenericSerialization_BlazorClient<dynamic> client = 
           new GenericSerialization_BlazorClient<dynamic>();
        client.init(conn);
        int count = records.Count();
        client.SerializeToJSON(records.ToList(), "shopify_price_rule", "C:\\temp\\test\\", 1000);
        //List<shopify_price_rule> fileNames = shopifyPriceRuleToFile.ReadOrDeserializeTable("TableName", "C:\\temp\\test", 100);

        //Document doc = new Document();
        //doc.id = new Guid("ed5f1fc0-aedb-4c42-8962-25708480457a");
        //doc.documentName = "shopify_price_rules";
        //doc.customerId = Guid.Empty;
        //doc.documentValue = records_Json;
        //int lenRecords_Json = records_Json.Length;
        //int lenDocumentValue = doc.documentValue.Length;
        //DocumentController.Add(doc.id, doc, new Dictionary<string, string>());
    }
    public async void LoadPricesListCache()
    {
        GenericSerialization_BlazorClient<dynamic> client = new GenericSerialization_BlazorClient<dynamic>();
        ApiConnectorData conn = new ApiConnectorData();
        conn.Url = "http://localhost:7071";
        conn.UserName = string.Empty;
        conn.Password = string.Empty;
        client.init(conn);

        List<dynamic> tmpList = await client.ReadOrDeserializeTableAsync("shopify_price_rule", "C:\\temp\\test\\", 1000);
        records = tmpList;
        StateHasChanged();
    }
    public async void LoadPricesList()
    {
        ApiCallerBase api = new ApiCallerBase();
        ApiCallData data = new ApiCallData();
        ApiConnectorData connData = new ApiConnectorData();
        connData.Url = "https://deltawaterproducts.myshopify.com";
        connData.UserName = "ed84bfc1c2687d7d6f357717fe977dd6";
        connData.Password = "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";

        data.UrlCommand = "/admin/api/2022-01/price_rules.json?limit=250";
        data.Body = string.Empty;

        //string ApiConnectorData_Json = System.Text.Json.JsonSerializer.Serialize(connData, typeof(ApiConnectorData));
        //string ApiCallData_Json = System.Text.Json.JsonSerializer.Serialize(data, typeof(ApiCallData));

        //string results = await ReeceShopifyAzFunc.MakeApiGetCallGeneric(ApiConnectorData_Json, ApiCallData_Json);

        //var tmp = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(results);
        dynamic tmp = await GetAllPriceRules(api, connData, data);
        if (tmp == null)
        { Console.WriteLine("tmp which should contain List of Price Rules was null"); }
        if (tmp.price_rules == null)
        { Console.WriteLine("List of Price Rules was null"); }

        //records = tmp.price_rules;

        StateHasChanged();
    }
    private async Task<dynamic> GetAllPriceRules(ApiCallerBase api, ApiConnectorData connData, ApiCallData data)
    {
        //ApiCallerBase api = new ApiCallerBase();
        //ApiCallData data = new ApiCallData();
        //ApiConnectorData connData = new ApiConnectorData();

        //data.UrlCommand = "/admin/api/2022-01/price_rules.json";
        //data.Body = string.Empty;

        string ApiConnectorData_Json = System.Text.Json.JsonSerializer.Serialize(connData, typeof(ApiConnectorData));
        string ApiCallData_Json = System.Text.Json.JsonSerializer.Serialize(data, typeof(ApiCallData));

        HttpResponseMessage results = await ReeceShopifyAzFunc.MakeApiGetCallGeneric(ApiConnectorData_Json, ApiCallData_Json);
        string strResults = results.Content.ReadAsStringAsync().Result;

        dynamic tmp = Newtonsoft.Json.Linq.JObject.Parse(strResults);
        //string TestSerialize = Newtonsoft.Json.JsonConvert.SerializeObject(tmp);
        
        records = tmp.price_rules;

        //string strLink = results.Headers.Where(x => x.Key == "Link").Select(x => string.Join(',', x.Value)).FirstOrDefault() ?? string.Empty;
        //int poslt = strLink.IndexOf('<');
        //int posgt = strLink.IndexOf('>');
        //string strNextPageUrl = strLink.Substring(poslt + 1, posgt - poslt - 1);
        //int lenBaseUrl = connData.Url.Length;
        //int lenNextPageUrl = strNextPageUrl.Length;
        //data.UrlCommand = strNextPageUrl.Substring(lenBaseUrl, lenNextPageUrl - lenBaseUrl);

        //List<string> UrlCommandsUsed = new List<string>();
        UrlCommands.Add("Page (" + PageCount + ") UrlCommand: " + data.UrlCommand);
        data = GetNextPage_ApiCallData(results, connData, data);
        UrlCommands.Add("Page (" + PageCount + ") UrlCommand: " + data.UrlCommand);

        PageCount = 1;

        while (data.UrlCommand != string.Empty)
        {
            ApiConnectorData_Json = System.Text.Json.JsonSerializer.Serialize(connData, typeof(ApiConnectorData));
            ApiCallData_Json = System.Text.Json.JsonSerializer.Serialize(data, typeof(ApiCallData));

            results = await ReeceShopifyAzFunc.MakeApiGetCallGeneric(ApiConnectorData_Json, ApiCallData_Json);
            strResults = results.Content.ReadAsStringAsync().Result;
            data = GetNextPage_ApiCallData(results, connData, data);
            dynamic tmpPage = (dynamic)Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(strResults);
            //dynamic tmpPage = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(strResults);
            foreach(var tmpPageItem in tmpPage.price_rules) { _records.Add(tmpPageItem); }

            UrlCommands.Add("Page (" + PageCount + ") UrlCommand: " + data.UrlCommand);
            PageCount++;
            StateHasChanged();
        }
        return tmp;
    }
    private ApiCallData GetNextPage_ApiCallData(HttpResponseMessage results, ApiConnectorData connData, ApiCallData data)
    {
        string strLinks = results.Headers.Where(x => x.Key == "Link").Select(x => string.Join(',', x.Value)).FirstOrDefault() ?? string.Empty;
        IEnumerable<string> PrevAndNextLinks = strLinks.Split(',');
        string strLink = PrevAndNextLinks.Where(x => x.Contains("rel=\"next\"")).FirstOrDefault() ?? string.Empty;

        int poslt = strLink.IndexOf('<');
        int posgt = strLink.IndexOf('>');
        int lenUrl = posgt - poslt - 1;
        bool LinkMissing = lenUrl <= 0;
        if (LinkMissing || DevCountExit++ > 3) // turns out there is a previous and a next ex: rel="previous"
        //if (LinkMissing) // turns out there is a previous and a next ex: rel="previous"
        { 
            data.UrlCommand = string.Empty;
            return data;
        }
        string strNextPageUrl = strLink.Substring(poslt + 1, posgt - poslt - 1);
        int lenBaseUrl = connData.Url.Length;
        int lenNextPageUrl = strNextPageUrl.Length;
        data.UrlCommand = strNextPageUrl.Substring(lenBaseUrl, lenNextPageUrl - lenBaseUrl);

        return data;
    }
    public async void LoadPricesList2()
    {
        string results = await ReeceShopifyAzFunc.MakeApiGetCall
        (
            "/admin/api/2022-01/price_rules.json"
            , "https://deltawaterproducts.myshopify.com"
            , "ed84bfc1c2687d7d6f357717fe977dd6"
            , "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"
        );

    }
}
